<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-12 first"></div>
        <div class="col-lg-4 col-sm-12 main">
            <h4>{{aim}}</h4>
            <h2>Sign In</h2><hr>
           
            <!-- LOGIN USING TEMPLATE VARIABLE -->
            <!-- <input type="text" class="items" id="uname" #accno (change)="accChange($event)"  [value]="account" placeholder="USERNAME"><br>
            <input type="password" class="items" id="pwd" #pswd (change)="pwdChange($event)"  placeholder="PASSWORD"><br>
            
            <button class="item" (click)="login(accno,pswd)">Log In</button> -->
            <form (ngSubmit)="login()">

            <input type="text" class="items" id="uname" name="uname" [(ngModel)]="accno"  placeholder="USERNAME"><br>
            <input type="password" class="items" id="pwd" name="pwd" [(ngModel)]="pwd"   placeholder="PASSWORD"><br>
            
            <button class="item">Log In</button>
            <a routerLink="register" class="item btn btn-danger" >SignUp</a>
        </form>

        </div>
        <div class="col-lg-4 col-sm-12"><h1><br><p>Luminar Bank</p></h1></div>
    </div>
</div>
