
<div class="container">
    
    <div class="row">
        
        <div class="col-lg-4 col-sm-12 first"></div>
        <div class="col-lg-4 col-sm-12 main">

            <h2>Deposit</h2><hr>
            <form (ngSubmit)="deposit()">
            
            <input type="text" class="items" id="accountnumber"name="acno" [(ngModel)]="acno" placeholder="Enter Account Number"><br>
            <input type="text" class="items" id="customername" name="pwd" [(ngModel)]="pwd" placeholder="Enter Password"><br>
            <input type="text" class="items" id="Amount" name="amt" [(ngModel)]="amt" placeholder="Amount"><br>
            <button class="item">Deposit</button>
        </form>
        <div class="items" id="displayArea"></div>
    </div>
    
    <div class="col-lg-4 col-sm-12 main">
        <h2>withdrawal</h2><hr>
        <form (ngSubmit)="withdraw()" >
           
            <input type="text" class="items" id="accnumber" name="accno" [(ngModel)]="accno" placeholder="Enter Account Number"><br>
            <input type="text" class="items" id="customername" name="pwswd" [(ngModel)]="pswd" placeholder="Enter Password"><br>
            <input type="text" class="items" id="Amt" name="amnt" [(ngModel)]="amnt" placeholder="Amount"><br>
            <button class="item" >Withdraw</button>
        </form>
           </div>
           <div class="col-lg-4 col-sm-12"><h1><br><p>Luminar Bank</p></h1></div>
    </div>
</div>